# Pandas Recipes for New Python Users

Some Jupyter lab notes:

* Jupyter lab let's us make cells and run code in a nicely formatted way
* We also can use things like magic cells - these allow us to do special operations on code
* Rerunning cells is super easy
* Has built in support for dataframes
* Nice support for CSV or TSV viewing

Here's a brief demo:

In [3]:
x = 100 * 100
x

10000

In [6]:
import random
for something in range(random.randint(1,10)):
    print(something)

0
1
2
3
4
5
6
7

### Loading Data

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('mpg.tsv', sep='\t')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10

In [13]:
print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0  3504.0          12.0
1  15.0          8         350.0       165.0  3693.0          11.5
2  18.0          8         318.0       150.0  3436.0          11.0
3  16.0          8         304.0       150.0  3433.0          12.0
4  17.0          8         302.0       140.0  3449.0          10.5

   model_year  origin                   car_name
0          70       1  chevrolet chevelle malibu
1          70       1          buick skylark 320
2          70       1         plymouth satellite
3          70       1              amc rebel sst
4          70       1                ford torino

### What is a DataFrame?

"Two-dimensional, size-mutable, potentially heterogeneous tabular data."

DataFrames have:

* Values
* An Index
* Columns
* a Shape

In [14]:
df.axes

[RangeIndex(start=0, stop=398, step=1),
 Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
        'acceleration', 'model_year', 'origin', 'car_name'],
       dtype='object')]

In [15]:
df.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'car_name'],
      dtype='object')

In [16]:
df.index

RangeIndex(start=0, stop=398, step=1)

In [17]:
df.shape

(398, 9)

What if I want a quick summary?

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg             398 non-null float64
cylinders       398 non-null int64
displacement    398 non-null float64
horsepower      392 non-null float64
weight          398 non-null float64
acceleration    398 non-null float64
model_year      398 non-null int64
origin          398 non-null int64
car_name        398 non-null object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

### Accessing Data

In [20]:
name_df = df['car_name']
name_df

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: car_name, Length: 398, dtype: object

We can see this looks a little different? Why?

In [21]:
type(name_df)

pandas.core.series.Series

Under the hood, each column in a Pandas DataFrame is a Series.

A series can be thought of as a one-dimensional array.

With a series we're able to get back to what we are familiar with.

In [22]:
name_df[100]

'ford maverick'

### Creating New Columns

To create a new column in Pandas, the strategy is to "pretend it was always there".

In [26]:
df['disp_div_cyl'] = df['displacement'].div(df['cylinders'])
df['weight_accel'] = df['weight'] + df['acceleration']
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_div_cyl,weight_accel
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,38.375,3516.0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,43.750,3704.5
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,39.750,3447.0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,38.000,3445.0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,37.750,3459.5
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl,35.000,2805.6
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup,24.250,2154.6
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage,33.750,2306.6
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger,30.000,2643.6
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10,29.750,2739.4

### Iterating over a DataFrame

We have the ability to load data, create new data, inspect data... How do we process it?

In [28]:
for index,row in df.head(3).iterrows():
    print(row['mpg'])

18.0
15.0
18.0

### Conditional Subsetting

Two main functions: `loc` and `iloc`. We'll be focusing on `loc`.

The `iloc` function is used to numerically index rows.

In [29]:
df.loc[:, :]

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name,disp_div_cyl,weight_accel
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu,38.375,3516.0
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320,43.750,3704.5
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite,39.750,3447.0
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst,38.000,3445.0
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino,37.750,3459.5
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790.0,15.6,82,1,ford mustang gl,35.000,2805.6
394,44.0,4,97.0,52.0,2130.0,24.6,82,2,vw pickup,24.250,2154.6
395,32.0,4,135.0,84.0,2295.0,11.6,82,1,dodge rampage,33.750,2306.6
396,28.0,4,120.0,79.0,2625.0,18.6,82,1,ford ranger,30.000,2643.6
397,31.0,4,119.0,82.0,2720.0,19.4,82,1,chevy s-10,29.750,2739.4

In [33]:
ddf = df.loc[:, ['model_year', 'origin']]
ddf

     model_year  origin
0            70       1
1            70       1
2            70       1
3            70       1
4            70       1
..          ...     ...
393          82       1
394          82       2
395          82       1
396          82       1
397          82       1

[398 rows x 2 columns]

In [37]:
subset_df = df.copy()
subset_df = df.loc[df['cylinders'] > 4, ['mpg', 'weight']]
subset_df

      mpg  weight
0    18.0  3504.0
1    15.0  3693.0
2    18.0  3436.0
3    16.0  3433.0
4    17.0  3449.0
..    ...     ...
365  20.2  3060.0
366  17.6  3465.0
386  25.0  2945.0
387  38.0  3015.0
389  22.0  2835.0

[190 rows x 2 columns]

All of these DataFrames can be assigned to their own variable and processed however you like.

### Accessors on Columns

In [39]:
df['car_name'].str.contains('ford')

0      False
1      False
2      False
3      False
4       True
       ...
393     True
394    False
395    False
396     True
397    False
Name: car_name, Length: 398, dtype: bool

In [41]:
df['car_name'].str

In [43]:
df['weight'].describe()

count     398.000000
mean     2970.424623
std       846.841774
min      1613.000000
25%      2223.750000
50%      2803.500000
75%      3608.000000
max      5140.000000
Name: weight, dtype: float64

In [45]:
df.loc[393, :]

mpg                          27
cylinders                     4
displacement                140
horsepower                   86
weight                     2790
acceleration               15.6
model_year                   82
origin                        1
car_name        ford mustang gl
disp_div_cyl                 35
weight_accel             2805.6
Name: 393, dtype: object

In [47]:
df['weight'].idxmax()

44

In [48]:
df.iloc[44,:]

mpg                              13
cylinders                         8
displacement                    400
horsepower                      175
weight                         5140
acceleration                     12
model_year                       71
origin                            1
car_name        pontiac safari (sw)
disp_div_cyl                     50
weight_accel                   5152
Name: 44, dtype: object

Explore the API docs for all of the functionality that these afford.